<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>
      <div class="ui-g-12">
      <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="true"
        [showIcon]="true"></p-calendar >
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{tipo.value == 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="true"
        [showIcon]="true"></p-calendar>
      </div>

      <div class="ui-g-8 ui-fluid">
        <label>Descriçao</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-4 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria {{categoria.value}}</label>
        <p-dropdown [options]="categorias"
        placeholder="Selecione"
        [autoWidth]="false"
        #categoria
        ></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas"
        placeholder="Selecione"
        [autoWidth]="false"
        [filter]="true"
        ></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea rows="5"  pInputTextarea ></textarea>
      </div>
      <div class="ui-g-12">
          <p-button type="submit" label="Salvar" ></p-button>
          <p-button type="p-button" label="Novo" styleClass="ui-button-info"></p-button>
        <a href="#">Voltar para Pesquisa </a>
      </div>
    </div>
  </form>
</div>
