<div class="container">
  <form (ngSubmit)="salvar()"
        [formGroup]="formulario">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{editando ? 'Edição de' : 'Novo'}} Lançamento</h1>
      </div>
      <div class="ui-g-12">
        <p-selectButton [options]="tipos"
                        formControlName="tipo"
                        name="tipo">
        </p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy"
                    [readonlyInput]="true"
                    [showIcon]="true"
                    name="dataVencimento"
                    formControlName="dataVencimento">
        </p-calendar>

        <app-message [control]="formulario.get('dataVencimento')"
                     error="required"
                     text="Informe uma data de vencimento">
        </app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{formulario.get('tipo').value == 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy"
                    [readonlyInput]="true"
                    [showIcon]="true"
                    name="dataPagamento"
                    formControlName="dataPagamento">
        </p-calendar>
      </div>

      <div class="ui-g-8 ui-fluid">
        <label>Descriçao</label>
        <input pInputText
               type="text"
               name="descricao"
               ngModel
               formControlName="descricao"
               minlength="5">
        <app-message [control]="formulario.get('descricao')"
                     error="obrigatoriedade"
                     text="Informe uma descrição">
        </app-message>

        <app-message [control]="formulario.get('descricao')"
                     error="minlength"
                     text="Minimo de {{ formulario.get('descricao').errors?.minlength?.requiredLength }} Caracteres ">
        </app-message>

      </div>
      <div class="ui-g-4 ui-fluid">
        <label>Valor</label>
        <input pInputText
               type="text"
               placeholder="0,00"
               currencyMask
               [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
               name="valor"
               formControlName="valor">
        <app-message [control]="formulario.get('valor')"
                     error="required"
                     text="Valor é obrigatorio">
        </app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid"
           formGroupName="categoria">
        <label>Categoria </label>
        <p-dropdown [options]="categorias"
                    placeholder="Selecione"
                    [autoWidth]="false"
                    name="categoria"
                    formControlName="id">
        </p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid"
           formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas"
                    placeholder="Selecione"
                    [autoWidth]="false"
                    [filter]="true"
                    name="pessoa"
                    formControlName="id">
        </p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea rows="5"
                  pInputTextarea
                  name="observacao"
                  formControlName="observacao">
        </textarea>
      </div>

      <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid"
           *ngIf="!formulario.get('anexo').value">
        <p-fileUpload name="anexo"
                      mode="basic"
                      auto="true"
                      maxFileSize="100000000"
                      chooseLabel="Anexar"
                      accept="image/*,application/*"
                      [url]="urlUploadAnexo"
                      (onBeforeSend)="progress()"
                      (onUpload)="aoTerminarUploadAnexo($event)"
                      (onError)="erroUpload($event)"
                      [hidden]="uploadEmAndamento">
        </p-fileUpload>
        <p-progressSpinner [hidden]="!uploadEmAndamento"
                           [style]="{width: '25px', height: '25px'}">
        </p-progressSpinner>

      </div>
      <div class="ui-g-12 ui-fluid"
           dir="rtl"
           *ngIf="formulario.get('anexo').value">

        <p-button type="button"
                  styleClass="ui-button-danger"
                  icon=" pi pi-times"
                  pTooltip="Remover anexo"
                  tooltipPosition="top"
                  (click)="removerAnexo()">

        </p-button>
        <a target="_blank"
           pTooltip="Baixar anexo"
           tooltipPosition="top"
           [href]="formulario.get('urlAnexo').value">
          {{nomeAnexo}}</a>
      </div>

      <div class="ui-g-12">
        <p-button type="submit"
                  label="Salvar"
                  [disabled]="formulario.invalid || uploadEmAndamento"></p-button>
        <p-button type="button"
                  label="Novo"
                  (click)="novo()"
                  styleClass="ui-button-info"></p-button>
        <a routerLink="/lancamentos">Voltar para Pesquisa </a>
      </div>
    </div>
  </form>
</div>